<div class="introtext">
    <h1>¡Hola!</h1>
    <h4>Con base en tus respuestas anteriores, generamos estas sugerencias con el fin de alinear tu perfil de LinkeIn con tus objetivos e intereses</h4>
    </div>

<!--About-->
<form class="About">
    <mat-form-field>
        <mat-label>Acerca de: </mat-label>
        <textarea></textarea>
    </mat-form-field>
</form>

<!--<textarea matInput [value]="responseData" [readonly]="true"></textarea>
-->

<!--Head Line-->

<!--Button-->
<div class="button">
<button mat-flat-button color="primary" (click)="navigateToThemes()">¡Hora de crear un post!</button> 
</div>  