
<form class="form-register">
    <h5>Por favor ingresa tus datos para continuar.</h5>
<!--Form-->
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" name="nombre" matInput placeholder="Ex. nicolas@imagine.com">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input [(ngModel)]="password" name="password" type="password" matInput placeholder="Ex. Nicolas">
    </mat-form-field>

    
<!--Button-->
<button mat-flat-button color="primary" (click)="navigateToDatosPersonales()">Siguiente</button>
</form>


