<div class="introtext">
<h1>Cuéntanos sobre ti</h1>
<h4>Responde algunas preguntas para ayudarnos a generar contenido alineado a tus objetivos</h4>
</div>

<!--Preguntas-->
<form class="form-profiling">
    <mat-form-field>
        <mat-label>¿Cuál es tu experiencia y formación profesional?</mat-label>
        <textarea matInput placeholder="Comparte detalles sobre tu educación, roles anteriores y logros destacados en tu carrera."></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>¿Cómo te gustaría marcar la diferencia en tu industria o comunidad?</mat-label>
        <textarea matInput placeholder="Reflexiona sobre tu impacto más allá de tu esfera profesional inmediata."></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>¿Cuál es tu misión o propósito profesional? ¿Qué te impulsa en tu carrera?</mat-label>
        <textarea matInput placeholder="Comparte tu pasión y la motivación subyacente detrás del trabajo que realizas. Esto puede ayudar a establecer una conexión con tu audiencia y comunicar tus valores."></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>¿Qué valor o perspectiva única aportas a tu campo?</mat-label>
        <textarea matInput placeholder="Identifica qué te hace diferente o destacado entre tus colegas. Considera tus experiencias únicas, ideas o enfoques que puedan brindar valor a tus conexiones."></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>¿Cuál es tu área de experiencia o industria?</mat-label>
        <textarea matInput placeholder="Esto nos ayudará a sugerir contenido que resuene con tu audiencia objetivo"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>¿Quién es tu audiencia objetivo en LinkedIn? ¿Buscas conectar con profesionales de una industria específica, rol laboral o grupo demográfico?</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>¿Cuáles son los desafíos comunes o dolores que enfrenta tu audiencia objetivo?</mat-label>
        <textarea matInput placeholder="Esto nos ayudará a crear contenido que brinde soluciones, ideas o consejos para superar esos desafíos."></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>¿Cuáles son tus metas u objetivos en LinkedIn?</mat-label>
        <textarea matInput placeholder="¿Deseas establecerte como referente, ampliar tu red de contactos, generar oportunidades de negocio u otros objetivos?"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>¿Cómo te gustaría que se perciba tu marca personal en LinkedIn?</mat-label>
        <textarea matInput placeholder="¿Cómo quieres ser visto por tu comunidad?"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>¿Hay temas específicos, tendencias o noticias de la industria en los que te gustaría enfocarte en tu contenido? </mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</form> 

<form class="LinkedIn">
    <h2>¡Pega acá el mejor post que hayas publicado en tu LinkedIn</h2>
    <mat-form-field>
        <mat-label>¡Pega acá el mejor post que hayas publicado en tu LinkedIn!</mat-label>
        <textarea matInput placeholder="De esta manera podremos identificar tu tono y estilo de escritura"></textarea>
    </mat-form-field>   
</form>
    
<!--Button-->
<div class="button">
    <button mat-flat-button color="primary" (click)="navigateToProfileSugestions()">Siguiente</button> 
</div>  